@font-face {
    font-family: regular;
    src: url("/font/source-sans-3/static/SourceSans3-Regular.ttf");
}

@font-face {
    font-family: medium;
    src: url("/font/source-sans-3/static/SourceSans3-Medium.ttf");
}

@font-face {
    font-family: mono;
    src: url("/font/source-code-pro/static/SourceCodePro-Regular.ttf")
}

body {
    /* keeps captions big when viewing in landscape */
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    font-family: regular;
    font-size: 16px;
    hyphens: auto;
    line-height: 1.5;
    margin: auto;
    max-width: 640px;
    padding: 16px;
}

a {
    color: #666666;
    font-family: medium;
    text-decoration: none;
}

h1 {
    font-family: medium;
    font-weight: normal;
    text-align: center;
}

h2,h3,h4,h5,h6 {
    font-family: medium;
    font-weight: normal;
}

header {
    display: flex;
    justify-content: space-between;
}

figure {
    margin: 0px;
    padding: 8px 0px 8px 0px;
}

.fig-left {
    float: left;
    max-width: 360px;
    padding: 8px 16px 8px 0px;
}

.fig-right {
    float: right;
    max-width: 360px;
    padding: 8px 0px 8px 16px;
}

.fig-center {
    margin: auto;
    max-width: 360px;
    padding: 8px 0px 8px 0px;
}

img {
    width: 100%;
}

figcaption {
    font-family: medium;
    font-size: 14px;
}

pre {
    background: #f5f5f5;
    overflow-x: auto;
    padding: 14px;
}

code {
    background: #f5f5f5;
    font-family: mono;
    font-size: 14px;
}
