@font-face {
    font-family: merriweather;
    src: url(/font/Merriweather-Regular.woff2);
}
@font-face {
    font-family: merriweather-sans;
    src: url(/font/MerriweatherSans-Regular.woff2);
}
@media only screen 
and (max-width: 800px) 
and (orientation: portrait) {
    .shy {
        display: none;
    }
}
@media only screen 
and (max-width: 800px)
and (orientation: portrait) {
    .notshy {
        margin-left: auto;
    }
}
* {
    box-sizing: border-box;
}
body {
    background: floralwhite;
    display: flex;
    flex-direction: column;
    font-family: merriweather;
    font-size: 17px;
    margin: auto;
    max-width: 800px;
    min-height: 100vh;
}
a { 
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p {
    line-height: 1.6;
}
header ul {
    align-items: center;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 10px 20px 5px 20px;
}
header li.l {
    padding-right: 10px;
}
header li.r {
    padding-left: 20px;
}
header li.shy {
    margin-left: auto;
}
header a {
    color: black;
    font-family: merriweather-sans;
}
hr {
    background: steelblue;
    border: 0;
    height: 5px;
    margin: 0px 8px 0px 8px;
}
main {
    flex: 1;
    padding: 16px;
}
footer {
    margin: auto;
}
footer p {
    color: gray;
    font-family: merriweather-sans;
    margin: 0px;
    padding: 10px;
}
.title {
    text-align: center;
    font-family: merriweather-sans;
    padding: 0;
    margin-bottom: 0px;
}
.description {
    text-align: center;
    font-family: merriweather-sans;
    font-weight: normal;
    padding: 0;
    margin: 5px;
}
.date {
    color: gray;
    margin-top: 0;
    text-align: center;
}
