body {
    background-color: #ccc;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
}

ul {
    list-style-type: none;
}

div {
    margin: auto;
    max-width: 66em;
}
