body {
    background-color: #fed;
}

div {
    margin: auto;
    max-width: 35em;
}

figcaption {
    font-family: sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    text-align: justify;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.footer {
    color: #666;
    font-family: sans-serif;
    font-size: 0.8em;
    padding: 1em;
    text-align: center;
}

h1 {
    font-family: sans-serif;
    font-weight: normal;
    text-align: center;
}

img {
    height: auto;
    max-width: 100%;
}

.indexlink {
    font-family: sans-serif;
    padding: 1em;
    text-align: center;
}

p {
    font-family: sans-serif;
    text-align: justify;
    text-indent: 3em;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

ul {
    font-family: sans-serif;
    list-style-type: none;
}
