body {
    background-color: #eee;
    font-family: sans-serif;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.caption {
    font-size: 0.9em;
    font-weight: bold;
}

.copyright {
    font-size: 0.8em;
    color: #666;
}

.date {
    font-style: oblique;
}

div {
    margin: auto;
    max-width: 35em;
}

.footer {
    text-align: center;
}

h1 {
    font-weight: normal;
    text-align: center;
}

img {
    height: auto;
    max-width: 100%;
}

p {
    text-align: justify;
}

ul {
    list-style-type: none;
}
