@font-face {
    font-family: regular;
    src: url("/assets/fonts/source-sans-3/static/SourceSans3-Regular.ttf");
}

@font-face {
    font-family: medium;
    src: url("/assets/fonts/source-sans-3/static/SourceSans3-Medium.ttf");
}

@font-face {
    font-family: mono;
    src: url("/assets/fonts/source-code-pro/static/SourceCodePro-Regular.ttf")
}

html {
    -webkit-text-size-adjust: 100%; /* maintain caption size in landscape */
    background: white;
    box-sizing: border-box;
    color: black;
    font-family: regular;
    font-size: 16px;
    /* hyphens: auto; */
    line-height: 1.5;
}

body {
    margin: auto;
    max-width: 38rem;
    padding: 1rem;
}

a {
    color: steelblue;
    font-family: medium;
    text-decoration: none;
}

a:visited {
    color: slateblue;
}

h1 {
    font-size: 2rem; /* so h1 in sections aren't smaller */
}

h1,h2,h3,h4,h5,h6 {
    font-family: medium;
    font-weight: normal;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

img {
  display: block; /* Makes the image a block element */
  margin: auto; /* Auto margin on left and right for center alignment */
  max-width: 100%;
}

figure {
  margin: auto;
}

figcaption {
    font-family: medium;
    font-size: 0.95rem;
}

pre {
    background: whitesmoke;
    border-radius: 0.4rem;
    overflow: auto;
    padding: 0 0.4rem;
}

code {
    background: whitesmoke;
    border-radius: 0.4rem;
    font-size: 0.80rem;
    padding: 0 0.4rem;
}

pre code {
    padding: 0;
}

/* utilities */

/* site-wide */

/* home page */
.index-entry {
    span { /* date */
        font-size: 0.85rem;
        color: gray;
    }
}

/* posts */
.title-block {
    h1 { /* title */
        margin-bottom: 0;
    }
    p { /* date */
        margin-top: 0;
        font-size: 0.85rem;
        color: gray;
    }
}

/* contact page */
.profile-picture {
    figure {
        max-width: 50%; /* Ensures image fits on small screen */
    }
    img {
        border-radius: 50%; /* Adjusts the roundness of corners */
    }
}

