:root {
  --main-color: #3399cc;
  --main-gray: #999999;
  --light-color: #66ccff;
  --light-gray: #cccccc; 
}

@font-face {
    font-family: regular;
    src: url("/assets/fonts/source-sans-3/static/SourceSans3-Regular.ttf");
}

@font-face {
    font-family: mono;
    src: url("/assets/fonts/source-code-pro/static/SourceCodePro-Regular.ttf")
}

body {
    background: white;
    color: black;
    font-family: regular;
    line-height: 1.5;
    margin: auto;
    max-width: 32rem; /* 78 monospace characters with sourcecode pro at 0.80rem */
    padding: 1rem;
    -webkit-text-size-adjust: none; /* maintain caption size in landscape */
    text-size-adjust: none; 
}

a {
    color: var(--main-color);
    text-decoration: none;
}

a:visited,a:hover {
		color:  var(--light-color); 
}

h1 {
    font-size: 2rem; /* so h1 in sections aren't smaller */
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

header a:visited {
    color: var(--main-color);
}

header a:hover {
    color: var(--light-color);
}

img {
  display: block; /* Makes the image a block element */
  margin: auto; /* Auto margin on left and right for center alignment */
  max-width: 100%;
}

figure {
  margin: 2rem auto;
}

figcaption {
    font-size: 0.8rem;
}

pre {
    background: whitesmoke;
    border-radius: 0.5rem;
    overflow: auto;
    padding: 0 0.5rem;
}

code {
    background: whitesmoke;
    border-radius: 0.5rem;
    font-size: 0.80rem;
    padding: 0 0.5rem;
}

pre code {
    padding: 0;
}

/* utilities */

/* site-wide */

/* home page */
/* css nesting doesn't work with firefox 115 (esr) */
.index-entry span { /* date */
  font-size: 0.8rem;
  color: var(--main-gray);
}
.index-entry a:visited span { /* date */
  color: var(--light-gray)
}

/* posts */
.title-block h1 { /* title */
  margin-bottom: 0;
}
.title-block p { /* date */
  margin-top: 0;
  font-size: 0.8rem;
}

/* contact page */
.profile-picture {
  max-width: 16rem; /* don't want my face too big */
  margin: 2rem auto;
}
.profile-picture img {
  border-radius: 50%; /* Adjusts the roundness of corners */
}

